* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 50px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.score-header {
    font-size: 20px;
}

.options .choice {
    padding: 10px;
    border-radius: 2px;
    width: 90px;
}

.result {
    margin-top: 50px;
    font-size: 30px;
}